// Project colors

$primary-dark : #388E3C;
$primary: #4CAF50;
$primary-light: #4CAF50;
$font-icons: #FFFFFF;
$accent-color: #8BC34A;
$text-primary: #212121;
$text-secondary: #727272;
$utility: #B6B6B6;