body{
	font-size: 10px;
}

h1, h2, h3, h4, h5, p, span, li{
	@include base-font();
}

h5{
	font-size: 1.1rem;
	font-weight: 700;	
}





/*CONTENT FORMAT*/

.content-box{
	padding:70px 10%;
}

/****************
HELPER CLASSES
******************/


/*BACKGROUND COLORS*/

.bg-dark-grey{
	background-color:$dark-grey;
}

.bg-light-grey{
	background-color:$light-grey;
}

.bg-blue{
	background-color: $main-blue;
}

.bg-green{
	background-color: $main-green;
}

.bg-red,
.item.bg-red{
	background-color: $main-red;
}

.bg-white{
	background-color: $white;
}

/*FONT COLORS*/

.color-dark-grey{
	color: $dark-grey;
}

.color-light-grey{
	color:$light-grey;
}

.color-blue{
	color: $main-blue;
}

.color-green{
	color: $main-green;
}

.color-red{
	color: $main-red;
}

.color-white{
	color:$white;
}

/* Font Styles */
.italic-font{
	font-style: italic;
}