.registro{

	.registro-intro{
		font-style: italic;
		font-size: 1rem;
		line-height: 1.4rem;
	}
	
	span{
		color:$light-grey;
		font-style: normal;
		font-weight: 400;
		line-height: 1.4rem;
		display: block;
	}
	.cuentas-title{
		text-transform: uppercase;
		margin-top: 15px;
	}
	

} 
