
.rsvp{
	border-top: 2px solid #c9c1b0;
	border-bottom: 2px solid #c9c1b0;
	padding: 5px 0;

	label{
		font-size: 2.8rem;
		font-family: $title-font-fam;
	}
}

.nos-casamos-green-img-container{
	height: 122px;
	margin-top:15px;

}

.nos-casamos h4{
	font-weight: 700;
	font-weight: 1.5rem;
	text-transform: capitalize;
	text-align: center;
}

.nos-casamos p{
	text-align: center;
	font-style: italic;
}

.mapa-event{
	margin-top: 50px;
	margin-bottom: 50px;
}

.nos-casamos .msg-extra{
	text-align: center;
	font-family: $title-font-fam;
	font-size: 1.8rem;

}
