
.nuestra-historia .historia-content{
	padding-left: 3rem;
}

.nuestra-historia h4{
	font-weight: 700;
	font-weight: 1.5rem;
	text-transform: capitalize;
}

.nuestra-historia p{
	font-style: italic;
}

.nuestra-historia span{
	font-style: normal;
}

.nuestra-historia{
	.historia-content{
		padding-left: 3rem;
	}

	h4{
		font-weight: 700;
		font-weight: 1.5rem;
		text-transform: capitalize;
	}

	p{
		font-style: italic;
	}

	span{
		font-style: normal;
	}
}



