
.fiesta h3{
	font-size: 2.7rem;
}

.share-music p {
	text-align: center;
	font-style: italic;

}



.separator{
	border-top: 4px red solid;
	margin-top: 20px;
	margin-bottom: 40px;
}

.song-list{
	list-style: none;
}

.song-list .artist-name{
	font-weight: 700;
	margin-right: 10px;

}

.song-list .song-name{
	font-style: italic;
	margin-left: 10px;
}

.share-photo p{
	text-align: center;
	font-style: italic;	
}

.hashtag{
	text-align: center;

}

.hashtag a{
	font-size: 0.9rem;
}

.share-photo a{
	font-weight: 700;
	color: $main-blue;
}