.nuestra-historia{
	overflow: hidden;
}

.nos-casamos{
	overflow: hidden;
	@extend .bg-light-grey;
}

.registro{
	overflow: hidden;
	@extend .bg-blue;
}

.what-to-do{
	overflow: hidden;
	@extend .bg-green;
}

.anecdotas{
	overflow: hidden;
	@extend .bg-light-grey;
}

.libro-recuerdos{
	overflow: hidden;
	@extend .bg-blue;
}

