.anecdota-box{
	.anecdota-text{
		color:#29505b;
		text-align: center;
		font-style: italic;
		text-transform: capitalize;
	}

	.anecdota-owner{
		color:#c4443b;
		text-align: center;
	}

	.comillas{
		color:#c9c1b0;
		font-size: 3rem;
	}
}


/*.arrow-right{
	width:0;
	height: 0;
	border-left:50px solid white;
	border-bottom: 50px solid transparent;
	border-top: 50px solid white;
}

.arrow-left{
	width:0;
	height: 0;
	border-right:50px solid white;
	border-bottom: 50px solid transparent;
	border-top: 50px solid white;
}*/

.octa{
	width:100%;
	height: 130px;
	border-radius:0 15% / 0 100%;
}



.see-reply{
	background-color: $main-blue;
	/*float: right;*/
}

.reply{
	background-color: $dark-grey;
	/*float: right;*/
}
