.section-title{
	font-family: $title-font-fam;
	text-align: center;
	font-size: 4rem;
	margin-bottom: 30px;
	
	span{// raya que acompaña al título
		font-size: 4rem!important;
	}

}



.section-subtitle{
	font-family: $title-font-fam;
	text-align: center;
	font-size: 3rem;

}
