.what-to-do{
	 p{
		font-style: italic;
	}

	 h5{
		font-size: 1rem;
		font-weight: 700;
	}

	 .directions{
		font-style: normal;
		line-height: 1.3rem;
		margin-bottom: 10px;
	}

	 li{
		font-style: normal;
		line-height: 1.3rem;
	}

}
 