%svg-common {
	background: url("../sprite-796adcdd.svg") no-repeat;
}

.svg-graph_growth_money_stock_inflation {
	@extend %svg-common;
	background-position: 53.01204819277108% 0;
}

.svg-graph_growth_money_stock_inflation-dims {
	width: 73px;
	height: 70px;
}

.svg-ico_Android {
	@extend %svg-common;
	background-position: 0 55.63380281690141%;
}

.svg-ico_Android-dims {
	width: 44px;
	height: 52px;
}

.svg-ico_addnewuser {
	@extend %svg-common;
	background-position: 54.399047619047614% 98.18181818181819%;
}

.svg-ico_addnewuser-dims {
	width: 29px;
	height: 29px;
}

.svg-ico_admin {
	@extend %svg-common;
	background-position: 98.13084112149532% 16.501764705882355%;
}

.svg-ico_admin-dims {
	width: 25px;
	height: 24px;
}

.svg-ico_admin-g {
	@extend %svg-common;
	background-position: 98.13084112149532% 44.73705882352941%;
}

.svg-ico_admin-g-dims {
	width: 25px;
	height: 24px;
}

.svg-ico_adminweb {
	@extend %svg-common;
	background-position: 98.13084112149532% 30.619411764705877%;
}

.svg-ico_adminweb-dims {
	width: 25px;
	height: 24px;
}

.svg-ico_android {
	@extend %svg-common;
	background-position: 22.564102564102566% 55.63380281690141%;
}

.svg-ico_android-dims {
	width: 44px;
	height: 52px;
}

.svg-ico_arrow {
	@extend %svg-common;
	background-position: 92.92035398230088% 53.791935483870965%;
}

.svg-ico_arrow-dims {
	width: 13px;
	height: 8px;
}

.svg-ico_bills {
	@extend %svg-common;
	background-position: 42.17610144511082% 99.37370032081755%;
}

.svg-ico_bills-dims {
	width: 23.238px;
	height: 30.979px;
}

.svg-ico_checklistblocknote {
	@extend %svg-common;
	background-position: 30.18867924528302% 99.38650306748467%;
}

.svg-ico_checklistblocknote-dims {
	width: 27px;
	height: 31px;
}

.svg-ico_cliente {
	@extend %svg-common;
	background-position: 46.808510638297875% 48.466257668711656%;
}

.svg-ico_cliente-dims {
	width: 51px;
	height: 31px;
}

.svg-ico_cloud {
	@extend %svg-common;
	background-position: 84.73684210526316% 0;
}

.svg-ico_cloud-dims {
	width: 49px;
	height: 34px;
}

.svg-ico_customers {
	@extend %svg-common;
	background-position: 99.53597277454155% 0;
}

.svg-ico_customers-dims {
	width: 28.021px;
	height: 28.053px;
}

.svg-ico_devolutions {
	@extend %svg-common;
	background-position: 46.591062054112264% 77.45750184774575%;
}

.svg-ico_devolutions-dims {
	width: 30.988px;
	height: 24.875px;
}

.svg-ico_direccion {
	@extend %svg-common;
	background-position: 76.66666666666667% 22.07792207792208%;
}

.svg-ico_direccion-dims {
	width: 29px;
	height: 40px;
}

.svg-ico_diskette {
	@extend %svg-common;
	background-position: 68.20857142857143% 97.59036144578313%;
}

.svg-ico_diskette-dims {
	width: 29px;
	height: 28px;
}

.svg-ico_employers {
	@extend %svg-common;
	background-position: 31.388077359538354% 77.84228321518341%;
}

.svg-ico_employers-dims {
	width: 31.915px;
	height: 25.711px;
}

.svg-ico_etiquetas {
	@extend %svg-common;
	background-position: 80.5% 48.05194805194805%;
}

.svg-ico_etiquetas-dims {
	width: 39px;
	height: 40px;
}

.svg-ico_facebook_footer {
	@extend %svg-common;
	background-position: 15.458937198067632% 100%;
}

.svg-ico_facebook_footer-dims {
	width: 32px;
	height: 32px;
}

.svg-ico_google_footer {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-ico_google_footer-dims {
	width: 32px;
	height: 32px;
}

.svg-ico_graphgrowth {
	@extend %svg-common;
	background-position: 0 80.3680981595092%;
}

.svg-ico_graphgrowth-dims {
	width: 33px;
	height: 31px;
}

.svg-ico_graphpresentation {
	@extend %svg-common;
	background-position: 15.942028985507246% 79.8780487804878%;
}

.svg-ico_graphpresentation-dims {
	width: 32px;
	height: 30px;
}

.svg-ico_hamburguesa {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-ico_hamburguesa-dims {
	width: 88px;
	height: 79px;
}

